@import "../../settings";

.chat {
  position: fixed;
  right: 15px;
  bottom: 15px;

  .chat-container {
    position: relative;
  }
  .chat-button {
    width: 60px;
    height: 60px;
    background-color: rgb(88, 58, 221);
    border-radius: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .i{
      width: 50px;
    }
  }
  .chat-open {
    fill: #fff;
    width: 35px;
    height: 35px;
  }
  .close-chat {
    fill: #fff;
    width: 35px;
    height: 35px;
    display: none;
    -webkit-animation: close-chat 1.9s ease-in-out both;
    animation: close-chat 1.9s ease-in-out both;
  }
  .chat-content {
    background-color: #9c9c9c;
    visibility: hidden;
    transition: 0.2s all;
    width: 300px;
    height: clamp(300px, 70vh, 445px);
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 7px 30px -10px rgba(86, 95, 99, 0.5);
    position: absolute;
    bottom: 75px;
    right: 0;
  }
  .chat-title {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: rgb(88, 58, 221);
  }
  .chat-title span,
  strong {
    color: #fff;
    display: block;
  }
  .chat-title figure {
    margin: 0 15px 0 0;
  }
  .chat-thumb {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 5px solid #fff;
  }
  .chat-container-dialog {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 75%;
  }
  .interaction-container {
    padding: 0 15px;
    height: 76%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #e98973 #9c27b0;
  }
  .interaction.client {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .interaction.client .dot {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #ccc;
    margin-left: 5px;
  }
  .interaction.client p {
    background: #ccc;
    color: #000;
    border-radius: 10px;
    border-top-right-radius: 0;
    padding: 10px;
    margin: 0;
  }
  .interaction.agent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .interaction.agent .photo figure {
    margin: 0;
  }
  .interaction.agent p {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    border-top-left-radius: 0;
    padding: 10px;
    margin: 0;
  }
  .send-message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
  }
  .send-message svg {
    fill: #555;
  }
  .send-message-input {
    width: 225px;
    height: 35px;
    padding: 0 15px;
    border-radius: 35px;
    border: 1px solid #ccc;
    margin: 0 5px;
  }
  .send-message-input:focus {
    outline: none;
    background: #f9f9f9;
  }
  .chat-input-open {
    display: none;
  }
  .chat-input-open:checked ~ .chat-content {
    visibility: visible;
    opacity: 1;
  }
  .chat-input-open:checked + .chat-button .chat-open {
    display: none;
  }
  .chat-input-open:checked + .chat-button .close-chat {
    display: block;
  }
}
