@import "../../settings";

.topbar {
  height: 41px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $dark-bg;
  z-index: 9;
  padding-left: 45px;
  transition: 0.2s all;
  color: $text-color;

  &.is-open {
    padding-left: $sidebar-width;
  }

  .topbar-content {
    height: 100%;
    display: flex;
    justify-content: space-between;

    .topbar-action {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 5px;

      .topbar-action-list {
        display: flex;
        align-items: center;
        padding-left: 15px;
        color: lighten($dark-bg, 55%);
      }

      .topbar-action-search {
        display: flex;
        align-items: center;
      }
    }

    .topbar-profile {
      height: 100%;
      background-color: $darker-bg;
      display: flex;
      min-width: 200px;
      justify-content: space-between;
      align-items: center;
      padding: 0 5px;
      .topbar-profile-info {
        display: flex;
        align-items: center;

        .topbar-profile-name {
          margin-left: 10px;
          color: transparentize($text-color, 0.3);
          font-weight: bold;
        }

        .topbar-profile-img {
          position: relative;
          .topbar-profile-notification-icon {
            width: 15px;
            height: 15px;
            background-color: red;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 100%;
            overflow: hidden;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          img {
            border-radius: 100%;
            overflow: hidden;
            width: 32px;
          }
        }
      }
    }
  }
}
