$darker-bg: #1e222a;
$dark-bg: #33383c;
$spot-bg: #edbf2b;
$light-bg: #ffffff;

$input-bg: #4c5157;

$logo-size: 80px;

$sidebar-padding: 5px;

$text-color: #ffffff;
$text-darker-color: #333333;

$arrow-size: 8px;

$sidebar-width: 250px;
