$darker-bg: #1e222a;
$dark-bg: #33383c;
$spot-bg: #edbf2b;
$light-bg: #ffffff;

$input-bg: #4c5157;

$logo-size: 30px;

$sidebar-padding: 5px;

$text-color: #ffffff;
$text-dark-color: #333333;

$arrow-size: 6px;

$sidebar-width: 250px;
$sidebar-small-width: 45px;

$topbar-height: 40px;

$module-size: 55px;
$module-tooltip-bg-color: black;
$module-tooltip-text-color: white;
$module-tolltip-distance: 35px;
