@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@400;500;700&display=swap");

@import "./utilities";
@import "./components/sidebar/main";
@import "./components/topbar/main";
@import "./components/iconInput/main";
@import "./components/modules/main";
@import "./components/chat/main";

* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  margin: 0;
}

.content {
  z-index: 0;
}

.bg-image {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  object-fit: cover;
  width: 100%;
  filter: brightness(65%) blur(2px);
}

.portal-frame {
  width: calc(100% - $sidebar-small-width);
  height: calc(100% - $topbar-height);
  border: none;
  position: absolute;
  left: $sidebar-small-width;
  top: $topbar-height;
  z-index: -1;
}

.portal-bg-img {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  .img {
    object-fit: cover;
    object-position: center;
    filter: brightness(65%);
  }
}
