@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import "./componentes/sidebar/main";
@import "./componentes/topBar/main";
@import "./componentes/iconInput/main";

* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.bg-image {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  filter: brightness(65%) blur(2px);
}
